@charset "UTF-8"

/*画面サイズが600px以下の画面での表示用に、以下の設定が適用されるようだ。後から追加設定かな*/
@media (max-width:600px){
  .page-title{
    font-size: 2.5rem;
  }
  .main-nav{
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li{
    margin: 0 20px;
  }
  .home-content{
    margin-top: 20px;
  }
  /*displau flexを立ての並びに変更する。*/
  .page-header{
    flex-direction: column;
    align-items: center;
  }
  /*news*/
  .news-contents{
    flex-direction: column;/*立て並びに変更。*/
  }
  article,
  aside{
    width: 100%;
  }
  /*そのほか、余白などの調整を入れる。*/

}
/*  共通部分-------*/
html  {
  font-size: 100%;
}
body  {
  font-family: "Yu Gothic Nedium","游ゴシック Meduim",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*------------------   HEADER -----------------*/
.logo{
  width: 210px;
  margin: 14px;
}
.main-nav{
  display:flex;
  font-size: 1.25rem;
  text-transform: uppercase;  /*  アルファベットを大文字にするらしい*/
  margin-top: 34px;
  list-style: none;           /*  リストのマーカータイプの指示。noneは、無しかな*/
}
.main-nav li{
  margin-left: 36px;
}
.main-nav a {           
  color: #432;              /*  リンクの文字が変化する!! */
}
.main-nav a:hover{
  color: rgb(185, 161, 82);              /*   リンク文字の上にマウスオーバーした時の色変化 */
}
/*これは画像も含めたヘッダ部分の設定(navメニューはその一部)*/
.page-header{
  display: flex;                    /*  横並び                    */
  justify-content: space-between;   /*  アイテムごとのスペースは間のみ    */
}
/*  大きな画面でも両端まで引き伸びすぎないようにする処理  */
.wrapper {
 border: medium dotted #cfc8cf;  /*debug用に*/
  max-width: 1100px;        /*  最大の幅。*/
  margin: 0 auto;           /*  0は天地　左右の auto は画面のど真ん中に配置するらしい  */
  padding: 0 4%;            /*  0は天地、左右の 4%は枠の内側に少し(4%)よる。 スマホの狭い画面で効くらしい。 */
}

/*------------------   CONTENTS(HOME)-----------------*/
.home-content{
  text-align: center;       /*  中央揃え     */
  margin-top: 10%;          /*   上部margin 10% 分、　ヘッダからあける  */
}
.home-content p{          /*p はルフレッシュしませんがのやつ */
  font-size: 1.125rem;    /* フォントサイズの調整はちょうどいい塩梅があるようだ */
  margin: 10px 0 42px;    /*  p の margin 上下の間隔 */
}
/*   見出し  */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher',Serif;
/*  text-transform: uppercase;  /* 大文字   この設定は二重になっていて、あとで打ち消されてしまう。*/
  font-weight: normal;
}
/*ボタン*/
.button{
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover{
  background: #2019a7;
}

/*------------------------- 大きな背景画像  ------------------------*/
.big-bg{
  background-size: cover;              /*  画像の縦横比率を状態で画面いっぱいに広げる  */
  background-position: center top;    /*   */
}
/*  (home 用)     */
#home{                /*home idの設定。*/
  background-image: url(../images/main-bg.jpg);
  min-height: 100vh;      /*vh はビューポート（開いている画面？）の高さに対する割合*/
}
#home .page-title{
  text-transform: none;/**/
}
/*   (news用)   */
#news{
  border: olive dotted;
  background-image: url(../images/news-bg.jpg);
  height: 270px;              /**/
  margin-bottom: 40px;
}
#news .page-title{
  text-align: center;
}
#menu{
  border: olive dotted;
  background-image: url(../images/menu-bg.jpg);
  height: 640px;              /**/
  margin-bottom: 40px;
}
#menu .page-title{
  text-align: center;
}

/*------------------------   フッター -------------------------------*/
footer{
  border: wheat double;
  background: #432;     /**/
  text-align: center;     /*  中央揃え  */
  padding: 6px 0;        /*  上下のパディング*/
}
footer p{                  /*p タグの書式 コピーライト*/
  color: #fff;
  font-size: 0.875rem;
}
/*===========================================================================*/
/*                      News コンテンツの2カラムを分ける                        */
/*===========================================================================*/
.news-contents {
  border: rgb(100, 129, 172) dotted;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
article {
  border: rgb(66, 100, 151) dotted;
  width: 60%;
  order:2;
}
aside{
  border: rgb(36, 50, 71) dotted;
  width:22%;
  order:3;
}
.ad{
  order:1;
}
/*===========================================================================*/
/*                     メインコンテンツ                                       */
/*===========================================================================*/
.post-info{
  position: relative;   /*これで、子要素が基準位置に配置されるようになるようだ*/
 /* top: 0px;            /*position:relative の場合、これを指示できる。基準点からのオフセット*/
  padding-top: 4px;      
  margin-bottom: 40px;
}
      /*      -------------年月の表示 (まるい中に表示)--------------------  */
.post-date{             /* 日時の指定*/
  background: #0bd;
  color: #fff;
  border-radius: 50%;   /*  領域がマルクなる*/    
  width: 100px ;        /*  100*100の正方形の領域*/
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;   /*  これどうなるんだろう。*/
  top: 0;
  padding-top: 10px;
}
.post-date span{      /*  年の部分の表示*/
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, .5) solid;    /*年の上部だけ線をひくことで罫線ができる */
  padding-top: 6px;
  display: block;
  width: 60px;
  margin: 0 auto; /*中央になるのかな*/
}
        /*  -----ギャラリーが新しくなりました-------------*/
.post-title{
/*  font-family: "Yu Mincho","YuMincho","serif";/**/
  font-size:2rem;       /*親要素の2倍*/
  font-weight:normal;   /*太字にしない*/
}
.post-title,
.post-cat{
  margin: 0 0 0 120px;
}
/*イメージと文章の間のマージン*/
article img{
  margin-bottom: 20px;
}
article p{
  margin-bottom: 1rem;  /*段落を一行あける*/
}
/*===========================================================================*/
/*                     サイドバー                                             */
/*===========================================================================*/
.sub-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;/*字が太くなりすぎないように*/
}
aside p{
  padding: 12px 10px;
}
/*-----    カテゴリーリストの装飾     ------*/
.sub-menu{
  margin-bottom: 60px;  /*下に余白を空ける。*/
  list-style: none;     /*リストの・をなくす*/
}
.sub-menu li{   /*リスト要素*/
  border-bottom: 1px #ddd solid;  /*下線*/
}
.sub-menu a{    /*各リンク文字列です。*/
/*  border: #432 dotted;  /*debug*/
  color: #432;      /**/
  padding: 10px;      /**/
  display: block;     /*クリックできる領域を広げるらしい。
  MDNの説明；要素は、ブロック要素ボックスを生成し、通常フローでは要素の前後に改行を生成します。
    */
}
.sub-menu a:hover{
  color: rgb(115, 136, 196);
/*  background: rgb(35, 138, 156);  /**/
}

/*===========================================================================*/
/*             MENU                                                          */
/*===========================================================================*/
.grid{
  display: grid;
  gap: 26px;    /*要素の間の間隔*/
  grid-template-columns: 1fr 1fr 1fr; /*要素の配置*/ 
  margin-top: 6%; /*全体のマージン最上部*/
  margin-bottom: 50px;/*全体のマージン最下部*/
}
.big-box{
  grid-column: 1/2; /*要素の縦のが３番目の要素のはじめの①に*/
}